name: Deploy to GitHub Pages

on:
  push:
    branches: 'main'
  pull_request:
    branches: 'main'

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: build
        env:
          BASE_PATH: '/${{ github.event.repository.name }}'
        run: |
          npm run build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          # this should match the `pages` option in your adapter-static options
          path: 'build/'

  deploy_prod:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to Prod
        id: deployment
        uses: actions/deploy-pages@v4

  deploy_preview:
    if: github.event_name == 'pull_request'
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages-preview
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy Preview
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          # Use a unique path for preview deployments
          artifact_name: 'preview-${{ github.event.pull_request.number }}'
